<!--WILLIAM MCPETRIE ST10263164 PROG6212 POE PART 3-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the contract monthly claim service! the one stop destination for institutions and employees to manage, create and approve claims</h1>
</div>
