@{
    ViewData["Title"] = "Create Claim";
}

<head>
    <style>
        .outer-container { /*blue container which holds white(inner) containers*/
            background-color: #007bff; /*matching colour to navbar colour*/
            max-width: 90%;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
        }

        .inner-container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
        }

        h1 {
            text-align: center;
        }

        .btn-Lecturer { /*different button colours for more visually appealing login*/
            background-color: lightyellow;
            color: black;
            border: 5 px;
            border-color: black;
            padding: 20px 30px;
            cursor: pointer;
            font-size: 24px;
            width: 90%;
        }

        .btn-PC { /*different button colours for more visually appealing login*/
                    background-color: lightblue;
            color: black;
            border: 5 px;
            border-color: black;
            padding: 20px 30px;
            cursor: pointer;
            font-size: 24px;
            width: 90%;
        }

        .btn-AM { /*different button colours for more visually appealing login*/
                    background-color: indianred;
            color: black;
            border: 5 px;
            border-color: black;
            padding: 20px 30px;
            cursor: pointer;
            font-size: 24px;
            width: 90%;
        }
    </style>
</head>
<body>
    <div class="outer-container">
        <div class="inner-container">
            <h1>Select Your Role</h1>
            <hr></hr>
            <button class="btn btn-Lecturer" style="margin-bottom: 20px">Lecturer</button>
            <button class="btn btn-PC" style="margin-bottom: 20px">Programme Coordinator</button>
            <button class="btn btn-AM">Academic Manager</button>
            <hr></hr>
            <p>This login portal will direct you to either lecturer, PC or AM portals which determine what pages you will have access to,</p>
            <p>lecturers may only create and view previous claims while PC and AM may approve and deny claims</p>
        </div>
    </div>
</body>
